.logo{
    display: flex;
    justify-content: left;
    width: 80%;
    align-items: center;
    margin: 1vw auto;
    border-radius: 10px;
    box-shadow: 3px 3px 0.5px #db0909, -3px -3px 0.5px #db0909;
    animation: animShadowLogo infinite 1s linear;
}

.logo img{
    width: 90%;
    margin: 10px;
}

.logout{
    position: absolute;
    bottom: 5vh;
    width: 100%;
}

@keyframes animLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes animShadowLogo {
    from {
        box-shadow: 3px 3px 0.5px #db0909, -3px -3px 0.5px #db0909;
    }
    to {
        box-shadow: -3px 3px 0.5px #db0909, 3px -3px 0.5px #db0909;
    }
  }