body,html{
    overflow: hidden;
}
.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    width: 18vw;
    height: 100vh;
    border-radius:0 5px 5px 0;
    box-shadow: 2px 2px 10px gray;
}

.body{
    position: absolute;
    top: 7vh;
    left: 19vw;
    width: 80.7vw;
    height:99vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: #f3f3f3;
    overflow: scroll;
}


.navbar{
    position: absolute;
    top: 0.3vh;
    left: 19vw;
    width: 80.7vw;
    height:6.5vh;
}